div.divPageAndMenu{
/*  display: flex;
  flex-direction: row;*/
  width: 100%;
  visibility: visible;
}

div.divMenuSeparator{
  text-align: center;
  font-weight: lighter;
  font-size: smaller;
  border-bottom: 1px solid black;
}

div.divMenu{
  display: flex;
  flex-direction: column;
  transition: all 1s;
/*  max-width: 120px;*/
  width: 10%;
  height: 100%;
  position: fixed;
  right: 0%;
  top: 0%;
  overflow: hidden;
  background: black;
  text-align: center;
}

div.divMenuCollapsed{
  display: flex;
  max-width: 29px;
  width: 29px;
  flex-direction: column;
  transition: all 1s;
  overflow: hidden;
}

div.divControlPanelDefault{
  margin: 10px;
  padding: 10px;

  border: 1px solid black;
  display: inline-block;
}

div.divMenuButtonPanel div{
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  flex: 1;
}

div.divMainPage{
  overflow: auto;
  width: 90%;
/*  height: 90%;*/
}

div.divTableContainerSearch{
  overflow: auto;
  height: 80%;
  font-size: x-small;
}

span.spanProgressReport{
  background: white;
  transition: all 2s;
}

div.pageMainWindow{
  margin-left: 12px;
}

button.buttonSelectPage{
  border: 0;
  background-color: lightblue;
  transition: 2s all;
  border-radius: 2px;
  padding: 5px;
  width: 120px;
}

button.buttonSelectPage:hover{
  background-color: lightskyblue;
}

button.buttonStandard{
  border: 0;
  background-color: lightblue;
  transition: 2s all;
  border-radius: 2px;
  padding: 5px;
}

button.buttonStandard:hover{
  background-color: lightskyblue;
}

button.buttonProgress {
  border: 0;
  background: none;
  transition: 2s all;
  border-radius: 2px;
}

button.buttonProgress:hover {
  background-color: lightgray;
}

error{
  font-weight: bold;
  color: red;
}

table.tableJSON{
  border-collapse: collapse;
  border: 1px black solid;
}

table.tableJSON th{
  font-size: small;
  font-weight: lighter;
  border: 1px black solid;
}

table.tableJSON td{
  font-size: small;
  font-weight: lighter;
  border: 1px black solid;
}

span.spanRESTDeveloperInfo{
  white-space: pre-wrap;
  word-wrap:break-word;
  transition: 2s all;  
}

img.imgFabLogo{
  width: 100%;
  max-width: 100px;
}

/* Customize the label (the container) */
.containerRadioButton {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerRadioButton input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.radioMark {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerRadioButton:hover input ~ .radioMark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerRadioButton input:checked ~ .radioMark {
  background-color: lightskyblue;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioMark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRadioButton input:checked ~ .radioMark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerRadioButton .radioMark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}





/* Customize the label (the container) */
.containerCheckBox {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheckBox:hover input ~ .checkMark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheckBox input:checked ~ .checkMark {
  background-color: lightskyblue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkMark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheckBox input:checked ~ .checkMark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheckBox .checkMark:after {
  left: 4px;
  top: 0px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}